<style>
    :root {
        --base-font-family: 'Noto Serif', 'Noto Serif SC', serif;
        --code-font-family: "JetBrains Mono", monospace;
        font-variant-ligatures: none;
      }
    /* font size of the code */
    code, pre > code {
      font-size: 1.02rem;
    }
</style>

  <!-- This script use to load font from outside -->
  <script>
    (function () {
        const customFont = document.createElement('link');
        {{/*  customFont.href = "https://fonts.bunny.net/css?family=jetbrains-mono:400,600,700|noto-serif:400,400i,700,700i|noto-serif-sc:500,700";  */}}
        customFont.href = "https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Noto+Serif&family=Noto+Serif+SC:wght@400;700&display=swap";
  
        customFont.type = "text/css";
        customFont.rel = "stylesheet";
  
        document.head.appendChild(customFont);
    }());
  </script>
