{{- if strings.HasPrefix .Destination "http" -}}
  <span class="caption-wrapper">
    <img loading="lazy" 
      src="{{ .Destination | safeURL }}" 
      alt="{{ .Text }}" 
      {{ with .Title}} title="{{ . }}"{{ end }} />
    {{- if ne .Text "" -}}
    <span class="caption-text">{{ .Text | safeHTML }}</span>
    {{- end -}}
  </span>
{{- else -}}
  {{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
  {{- $permalink := "" -}}

  {{- if ne $image nil -}}
  {{- $permalink = $image.RelPermalink -}}
  {{- else -}}
  {{- $image = imageConfig (printf "static/%s" (.Destination | safeURL)) -}}
  {{- $permalink = (printf "/%s" (.Destination | safeURL)) -}}
  {{- end -}}

  <span class="caption-wrapper">
    <img loading="lazy" 
      src="{{ $permalink }}" 
      alt="{{ .Text }}" 
      {{ with .Title}} title="{{ . }}"{{ end }} 
      width={{ $image.Width }} 
      height="{{ $image.Height }}" />
    {{- if ne .Text "" -}}
    <span class="caption-text">{{ .Text | safeHTML }}</span>
    {{- end -}}
  </span>
{{- end -}}